<ion-content class="ion-padding">
  <div class="login-container body">
    <div id="titulo">
      <h1 class="myMusic">MusicApp</h1>
      <h2>Inicie sesión.</h2>
    </div>

    <div class="forms">
      <form>
        <div class="input-group">
          <label class="email-label">Usuario</label>
          <input type="text" id="username" name="username" required class="email">
        </div>

        <div class="input-group">
          <label class="pass-label">Contraseña</label>
          <input type="password" id="password" name="password" required class="pass">
        </div>
        <ion-button type="submit" class="my-button" fill="outline">Ingresar</ion-button>
      </form>
    </div>

    <div id="registro">
      <label>No tienes una cuenta? Regístrate <a href="#">aquí</a>.</label>
    </div>
  </div>
</ion-content>
